#main {
  display: block;
  font-size: x-large;
  text-align: center;
}

#Info {
  font-size: large;
  text-align: center;
}

#Photogallery {
  font-size: medium;
  text-align: center;
}

#Reviews {
  font-size: medium;
  text-align: center;
}